<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registration page</title>
</head>
<body>
<form th:method="POST" th:action="@{/auth/registration}" th:object="${employee}">
    <label for="username">Enter name: </label>
    <input type="text" id="username" th:field="*{username}" />
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></div>
    <br/>
    <label for="password">Enter password: </label>
    <input type="password" id="password" th:field="*{password}"/>
    <div style="color: red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
    <br/>
    <input type="submit" value="Sign up!" />
</form>
</body>
</html>